<div class="container d-flex flex-column">
    <button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="addHabit()">
        Add Habit
    </button>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <div class="d-flex flex-row">Habit Name</div>
                </th>
                <th>
                    <div class="d-flex flex-row">Habit Logo</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let habit of habits">
                <td>{{habit.name}}</td>
                <td>{{habit.logo}}</td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Habit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Habit Name</span>
                        <input type="text" class="form-control" [(ngModel)]="name">
                        <span class="input-group-text">Habit Logo</span>
                        <input type="text" class="form-control" [(ngModel)]="logo">
                    </div>

                    <button type="button" (click)="createHabit()"  class="btn btn-primary">
                        Create
                    </button>
                </div>
            </div>
    </div>
            